.plans-container {
    display: flex;
    flex-direction: column;
    margin-top: -4rem;
    padding: 0 2 rem;
    gap: 4rem;
    position: relative;
}

.plan-blur_1 {
    height: 23rem;
    width: 32rem;
    top: 6rem;
    left: 0;
}
.plan-blur_2 {
    height: 23rem;
    width: 32rem;
    right: 0;
    top: 10rem;
}

.plans {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.plan {
    background: var(--caloryCard);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    width: 15rem;
}
.plan > :first-child {
    fill: var(--orange);
    height: 2rem;
    width: 2rem;
}
.plan > :nth-child(2) {
    font-size: 1rem;
    font-weight: 700;
}
.plan > :nth-child(3) {
    font-size: 3rem;
    font-weight: 700;
}
.features,
.feature {
    display: flex;
    gap: 1rem;
}
.features {
    flex-direction: column;
}
.feature {
    align-items: center;
}
.feature > img {
    width: 1rem;
}
.plan > :nth-child(5) {
    font-size: 0.8rem;
}

.plan:nth-child(2) {
    background: var(--planCard);
    transform: scale(1.1);
}
.plan:nth-child(2) > :first-child {
    fill: #fff;
}

@media screen and (max-width: 768px) {
    .plans {
        flex-direction: column;
    }
    .plans > :nth-child(2) {
        transform: none;
    }
}
