.hero {
    display: flex;
    justify-content: space-between;
}

.blur {
    background: rgba(253, 120, 43, 0.69);
    border-radius: 50%;
    filter: blur(150px);
    position: absolute;
    z-index: -9;
}

.hero-blur {
    height: 30rem;
    width: 22rem;
    left: 0;
}

.left-h {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem 2rem;
    flex: 3;
    gap: 2rem;
}

.right-h {
    flex: 1;
    background-color: var(--orange);
    position: relative;
}

.the-best-ad {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4rem;
    background-color: #393d42;
    border-radius: 4rem;
    color: #fff;
    padding: 20px 13px;
    width: fit-content;
}

.the-best-ad > div {
    position: absolute;
    background-color: #f48916;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}
.the-best-ad > span {
    z-index: 2;
}

.hero-text {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 4.5rem;
    font-weight: 700;
    gap: 1.5rem;
    text-overflow: inherit;
    text-transform: uppercase;
}

.hero-text > div:nth-of-type(3) {
    text-transform: none;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
    width: 80%;
}

.figures {
    display: flex;
    gap: 2rem;
    color: #fff;
    text-transform: uppercase;
}
.figures > div {
    display: flex;
    flex-direction: column;
}
.figures > div > span {
    color: #fff;
    font-size: 2rem;
}
.figures > div > :nth-child(2) {
    font-size: 1rem;
    font-weight: 200;
    color: var(--gray);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    font-weight: 400;
}
.hero-buttons > :nth-child(1) {
    background-color: var(--orange);
    width: 8rem;
    color: #fff;
}
.hero-buttons > :nth-child(2) {
    background-color: initial;
    border: 2px solid var(--orange);
    width: 8rem;
    color: #fff;
}

.right-h > .btn {
    position: absolute;
    top: 2rem;
    right: 3rem;
}

.heart-rate {
    position: absolute;
    top: 7rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--darkGrey);
    padding: 1rem;
    width: fit-content;
    border-radius: 5px;
    align-items: flex-start;
}
.heart-rate > img {
    width: 2rem;
}
.heart-rate > span:nth-of-type(1) {
    color: var(--gray);
}
.heart-rate > span:nth-of-type(2) {
    color: #fff;
    font-size: 1.5rem;
}

.hero-image {
    position: absolute;
    top: 10rem;
    right: 8rem;
    width: 23rem;
}
.hero-image-back {
    position: absolute;
    top: 4rem;
    right: 20rem;
    width: 15rem;
    z-index: -1;
}

.calories {
    display: flex;
    background-color: var(--caloryCard);
    position: absolute;
    top: 32rem;
    right: 28rem;
    gap: 2rem;
    padding: 1rem;
    width: fit-content;
    border-radius: 5px;
}
.calories > img {
    width: 3rem;
}
.calories > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calories > div > :first-child {
    color: var(--gray);
}
.calories > div > :last-child {
    color: #fff;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
    }
    .hero-blur {
        width: 14rem;
    }
    .the-best-ad {
        margin-top: 0;
        font-size: small;
        align-self: center;
        transform: scale(0.8);
    }
    .hero-text {
        font-size: xx-large;
        align-items: center;
        justify-content: center;
    }
    .hero-text > div:nth-of-type(3) {
        font-size: small;
        font-weight: 200;
        letter-spacing: 1px;
        text-align: center;
    }
    .figures > div > :first-child {
        font-size: large;
    }
    .figures > div > :last-child {
        font-size: small;
    }
    .hero-buttons {
        justify-content: center;
    }
    .heart-rate {
        top: 2rem;
        left: 1rem;
    }
    .right-h {
        position: relative;
        background: none;
    }
    .hero-image {
        left: 7rem;
        position: relative;
        top: 4rem;
        width: 15rem;
    }
    .hero-image-back {
        top: 0;
        left: 2rem;
        width: 15rem;
    }
    .calories {
        top: 5rem;
        position: relative;
        left: 2rem;
    }
    .calories > img {
        width: 2rem;
    }
    .calories > div > :nth-child(2) {
        font-size: 1rem;
    }
}
